{% extends 'layouts/base-presentation.html' %}
{% block title %} Clothes {% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} clothes-page {% endblock body_class %}
{% block content %}
   <section class="pt-lg-7 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-8 order-2 order-md-2 order-lg-1">
          <div class="position-relative ms-lg-5 mb-0 mb-md-7 mb-lg-0 d-none d-md-block d-lg-block d-xl-block h-75">
            <div class="bg-gradient-primary w-100 h-100 border-radius-xl position-absolute d-lg-block d-none" alt=""></div>
            {% if clothing.image %}
            <img src="{{clothing.image.url}}" class="w-100 border-radius-xl mt-6 ms-lg-5 position-relative z-index-5" alt="{{ clothing.name }}" style="height: 500px; width: 100%; object-fit: cover; ">
          {% else %}
                  <img src="{{ ASSETS_ROOT }}/img/defoult_clothes.jpg" class="w-100 border-radius-xl mt-6 ms-lg-5 position-relative z-index-5" alt="{{ clothing.name }}" style="height: 500px; width: 100%; object-fit: cover; ">
                  {%  endif %}
          </div>
        </div>
        <div class="col-lg-5 col-md-12 ms-auto order-1 order-md-1 order-lg-1">
          <div class="p-3 pt-0">

            <h4 class="text-gradient text-primary mb-4">{{ clothing.name }}</h4>
            <h4 class="text-dark text-primary mb-4">{{ clothing.price }} USD</h4>
            <h6 class="mb-0"><strong>Type: {{ clothing.clothing_type.name }}</strong></h6>
            <h6 class="mb-0"><strong>Material: </strong>{% for material in clothing.materials.all %} {{ material.name }} {% endfor %}</h6>
            <p class="mt-0"><strong><a href="{% url 'catalog:size-list' %}">Size: </a></strong>{% for size in clothing.size.all %} {{ size.name }} {% endfor %}</p>
            <h6>Designer(s)
            <ul class="list-group list-group-flush">
            {% for designer in clothing.designer.all %}
    <li class="list-group-item">{{ designer.username }} ({{ designer.first_name }} {{ designer.last_name }})</li>
              {% empty %}
              <p> There are no designers!</p>
  {% endfor %}
            </ul>

             {% if clothing in user.clothes.all %}
                <a href="{% url 'catalog:remove-designer-from-clothing' pk=clothing.id %}" class="btn btn-danger link-to-page">
                  Delete me from this clothing
                </a>
             {% endif %}
            </h6>
            {% if user in clothing.designer.all %}
          <a class="btn btn-dark" href="{% url 'catalog:clothing-update' pk=clothing.id %}">UPDATE</a>
          <a class="btn btn-danger" href="{% url 'catalog:clothing-delete' pk=clothing.id %}">DELETE</a>
          {% endif %}

          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content%}
