{% extends 'layouts/base-presentation.html' %}
{% block title %} Sizes {% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} size-page {% endblock body_class %}
{% block content %}

  <header class="header-2">
    <div class="page-header section-height-75 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/bg2.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">

            <h1 class="text-white pt-3 mt-n5">
              Sizes List
            </h1>
            <a href="{% url 'catalog:size-create' %}" class="btn btn-primary link-to-page">
      Create new size
            </a>

          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
          </g>
        </svg>
      </div>
    </div>
  </header>

<section class="pt-3 pb-4" id="count-stats">

    <div class="container">
      <div class="row">

        <div class="col-lg-9 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur">
          {% include "includes/search_form.html" %}
          <div class="row">
            {% if size_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for size in size_list %}
        <tr>

          <td>
              {{ size.name }}
          </td>
          <td>
              {{ size.description }}
          </td>
          <td>
              <a href="{% url 'catalog:size-update' pk=size.id %}" >
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'catalog:size-delete' pk=size.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no size in the workshop.</p>
  {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock content %}
